beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
Pillow==6.1.0
pipenv==2018.11.26
PySocks==1.7.0
requests==2.22.0
requests-futures==1.0.0
selenium==3.141.0
soupsieve==1.9.2
stem==1.7.1
torrequest==0.1.0
urllib3==1.25.3
virtualenv==16.7.3
virtualenv-clone==0.5.3
Werkzeug==0.16.1
