<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Who are we?</h4>
            <p class="text-muted">Just two guys who want to help you get your tickets on time :D</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li>Bitcoin: 3GjJWXYPHEd6HRvMQUpKha7tHHMBYXeCkb</li>
              <li>Ethereum(ETH): 0xE7D9e9A4498a37c617F3CCf21439506528ae7440</li>
              <lI>ETC: 0x26c8ca17e2166dF5D2AF71DDb2f291600a5C6061</lI>
              <li>
                <form action="POST" data-netlify="true">
                  <input type="text" name="name">
                  <input type="text" name="email">
                  <textarea name="message"  rows="7"></textarea>
                  <div data-netlify-recaptcha="true"></div>
                  <input type="submit" value="Send">
                </form>
              </li>
              <li><a href="#" onClick="parent.location='mailto:hast@vivaldi.net?subject=The subject you want to appear&cc=hast@vivaldi.net'" class="text-white">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Ticks</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>