<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/solar/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TicksApp</title>
</head>
<body>
    <script data-ad-client="ca-pub-3327505521555263" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body> 
</html>